.container {
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 3fr;
}
.box {
    background-color: rgb(4, 175, 175);
    padding: 15px;
    color:aliceblue;
    text-align: center;
}